In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset, dtype=int)

In [4]:
dataset

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,1,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0
2,28,33.000,3,4449.46200,0,1,1,0
3,33,22.705,0,21984.47061,0,1,1,0
4,32,28.880,0,3866.85520,0,1,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0
1334,18,31.920,0,2205.98080,1,0,1,0
1335,18,36.850,0,1629.83350,1,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0
1337,61,29.070,0,29141.36030,1,0,0,1

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes'],
      dtype='object')

In [6]:
independent = dataset[['age', 'bmi', 'children','sex_female', 'sex_male','smoker_no', 'smoker_yes']]
independent

      age     bmi  children  sex_female  sex_male  smoker_no  smoker_yes
0      19  27.900         0           1         0          0           1
1      18  33.770         1           0         1          1           0
2      28  33.000         3           0         1          1           0
3      33  22.705         0           0         1          1           0
4      32  28.880         0           0         1          1           0
...   ...     ...       ...         ...       ...        ...         ...
1333   50  30.970         3           0         1          1           0
1334   18  31.920         0           1         0          1           0
1335   18  36.850         0           1         0          1           0
1336   21  25.800         0           1         0          1           0
1337   61  29.070         0           1         0          0           1

[1338 rows x 7 columns]

In [7]:
dependent = dataset[['charges']]

In [8]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
# removed training and testing dataset split

In [10]:
# removed Standarization step

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR  # importing Support vector machine model.

param_grid = {'kernel':['rbf','poly','sigmoid','linear'],'C':[10,100,1000,2000,3000]}

grid = GridSearchCV(SVR(),param_grid, refit = True, verbose = 3, n_jobs=-1)


grid.fit(independent,dependent)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\91967\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             verbose=3)

In [12]:
# grid_predictions = grid.predict(X_test)
# from sklearn.metrics import r2_score
# r_score = r2_score(y_test, grid_predictions)

re = grid.cv_results_

print("the R score value for best parameter {}:".format(grid.best_params_))

the R score value for best parameter {'C': 1000, 'kernel': 'linear'}:

In [13]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.173513,0.005017,0.084716,0.007720,10,rbf,"{'C': 10, 'kernel': 'rbf'}",-0.109367,-0.098956,-0.073835,-0.099072,-0.122477,-0.100742,0.015980,10
1,0.156852,0.017272,0.026087,0.007607,10,poly,"{'C': 10, 'kernel': 'poly'}",-0.118545,-0.080123,-0.103913,-0.126195,-0.173312,-0.120418,0.030760,13
2,0.179801,0.007190,0.043265,0.006053,10,sigmoid,"{'C': 10, 'kernel': 'sigmoid'}",-0.116682,-0.118639,-0.085030,-0.107884,-0.108905,-0.107428,0.011962,11
3,0.164841,0.008305,0.024671,0.005785,10,linear,"{'C': 10, 'kernel': 'linear'}",0.117011,0.156445,0.151959,0.133091,0.072680,0.126237,0.030248,5
4,0.167872,0.006016,0.101155,0.001327,100,rbf,"{'C': 100, 'kernel': 'rbf'}",-0.157478,-0.104998,-0.120221,-0.138624,-0.208192,-0.145903,0.035776,17
5,0.178612,0.005408,0.028075,0.004509,100,poly,"{'C': 100, 'kernel': 'poly'}",-0.131494,-0.081212,-0.127255,-0.138231,-0.189281,-0.133495,0.034383,14
6,0.177420,0.013636,0.048497,0.004753,100,sigmoid,"{'C': 100, 'kernel': 'sigmoid'}",-0.140390,-0.157327,-0.113358,-0.134885,-0.131813,-0.135555,0.014174,16
7,0.325250,0.012547,0.022581,0.008591,100,linear,"{'C': 100, 'kernel': 'linear'}",0.597503,0.557570,0.586770,0.574875,0.555410,0.574426,0.016315,4
8,0.169744,0.011973,0.083907,0.008305,1000,rbf,"{'C': 1000, 'kernel': 'rbf'}",-0.145551,-0.089298,-0.113634,-0.128057,-0.196970,-0.134702,0.036179,15
9,0.187836,0.000019,0.023197,0.007012,1000,poly,"{'C': 1000, 'kernel': 'poly'}",-0.065304,-0.012081,-0.058133,-0.071186,-0.120070,-0.065355,0.034404,8
10,0.188299,0.009727,0.033055,0.001479,1000,sigmoid,"{'C': 1000, 'kernel': 'sigmoid'}",-1.365057,-1.804851,-1.497313,-1.462907,-1.269153,-1.479856,0.180991,18
11,1.175415,0.162082,0.018914,0.006373,1000,linear,"{'C': 1000, 'kernel': 'linear'}",0.682332,0.630590,0.750719,0.646381,0.722260,0.686456,0.045068,1
12,0.174010,0.005807,0.082300,0.005973,2000,rbf,"{'C': 2000, 'kernel': 'rbf'}",-0.122680,-0.068124,-0.090831,-0.106007,-0.171921,-0.111913,0.034968,12
13,0.209548,0.009095,0.025087,0.006957,2000,poly,"{'C': 2000, 'kernel': 'poly'}",0.009987,0.068502,0.020360,0.005688,-0.048126,0.011282,0.037199,7
14,0.172817,0.000240,0.037383,0.007515,2000,sigmoid,"{'C': 2000, 'kernel': 'sigmoid'}",-4.589430,-6.405585,-5.345057,-5.007099,-4.315135,-5.132461,0.727277,19
15,1.882658,0.239348,0.022034,0.007689,2000,linear,"{'C': 2000, 'kernel': 'linear'}",0.675675,0.622309,0.732285,0.633009,0.694549,0.671565,0.040360,2
16,0.166081,0.007747,0.081556,0.006308,3000,rbf,"{'C': 3000, 'kernel': 'rbf'}",-0.098081,-0.045339,-0.067333,-0.084246,-0.147280,-0.088456,0.034281,9
17,0.240078,0.016811,0.022038,0.005338,3000,poly,"{'C': 3000, 'kernel': 'poly'}",0.079664,0.143362,0.093078,0.078637,0.020221,0.082992,0.039285,6
18,0.169329,0.006337,0.040873,0.007696,3000,sigmoid,"{'C': 3000, 'kernel': 'sigmoid'}",-9.628959,-13.306475,-11.370200,-10.528109,-9.052871,-10.777323,1.490147,20
19,2.078764,0.529211,0.009002,0.011852,3000,linear,"{'C': 3000, 'kernel': 'linear'}",0.672821,0.621155,0.730554,0.632317,0.692088,0.669787,0.039920,3

In [14]:
age_input = float(input("Age:"))
bmi_input = float(input("BMI:"))
children_input = float(input("Children:"))
sex_male_input = int(input("sex male 0 or 1:"))
smoker_yes_input = int(input("smoker yes 0 or 1:"))
sex_Female_input = int(input("sex female 0 or 1:"))
smoker_No_input = int(input("smoker No 0 or 1:"))

Age:32
BMI:43
Children:2
sex male 0 or 1:0
smoker yes 0 or 1:1
sex female 0 or 1:1
smoker No 0 or 1:0

In [15]:
Future_Prediction = grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input,sex_Female_input,smoker_No_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[5699.61536766]

C:\Users\91967\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(